<div class="card" style="width: 100%">
    <div class="card-body">
        <h5 class="card-title">The Walking Dead</h5>
        <h6 class="card-subtitle mb-2 text-muted">Series Overview</h6>
        <p class="card-text">The Walking Dead takes place after the onset of a worldwide zombie apocalypse. The zombies,
            referred to as "walkers",
            shamble towards living humans and other creatures to eat them; they are attracted to noise, such as
            gunshots, and to
            different scents, e.g. humans. Although it initially seems that only humans that are bitten or scratched by
            walkers can
            turn into other walkers, it is revealed early in the series that all living humans carry the pathogen
            responsible for
            the mutation. The mutation is activated after the death of the pathogen's host, and the only way to
            permanently kill a
            walker is to damage its brain or destroy the body entirely, such as by cremating it.

            The series centers on sheriff's deputy Rick Grimes, who wakes up from a coma. While in a coma, the world has
            been taken
            over by walkers. He becomes the leader of a group of survivors from the Atlanta, Georgia, region as they
            attempt to
            sustain and protect themselves not only against attacks by walkers but by other groups of survivors willing
            to use any
            means necessary to stay alive.
        </p>

    </div>
    <div class="cards">
        <div class="card" style="width: 18rem;">
            <img src="images/rick.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Rick</h5>
                <p class="card-text">Rick Grimes is the former protagonist and a survivor of the outbreak in AMC's The
                    Walking Dead.</p>

            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="images/maggie.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Maggie</h5>
                <p class="card-text">Maggie Rhee (née Greene) is a main character and a survivor of the outbreak in
                    AMC's The Walking Dead.</p>

            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="images/daryl.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Daryl</h5>
                <p class="card-text">Daryl Dixon is a main character and a survivor of the outbreak in AMC's The Walking
                    Dead. He is the younger brother of
                    Merle.</p>

            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="images/michone.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Michonne</h5>
                <p class="card-text">Michonne Hawthorne (pronounced mih-SHOWN) is a main character and a survivor of the
                    outbreak in AMC's The Walking Dead.</p>

            </div>
        </div>
    </div>

</div>